/* Import your application global css files here or add the styles directly to this file */
@import url('views/main-view.css');
@import url('views/registration-view.css');
@import url('views/selection.css');
html {
      --lumo-primary-color: #009DDB;
    }

a:active, a:hover, a {
    --lumo-primary-color: red;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
    padding: 10px;
}

:host([selected]){
    var(--lumo-primary-color));
}

:host([selected])::before, :host([selected])::after {
    background-color: var(--lumo-primary-color));
}