/* Import your application global css files here or add the styles directly to this file */
@import url('views/main-view.css');
@import url('views/registration-view.css');
@import url('views/selection.css');
html {
      --lumo-primary-color: #009DDB;
    }

vaadin-tab { /*Hier die Farbe f체r die nicht ausgew채hlten Tabs angeben*/
    color: #009DDB;
}
vaadin-tab[selected] {
    color: #009DDB; /*Hier die Farbe f체r die ausgew채hlten Tabs angeben*/
}

a:active, a:hover, a {
    --lumo-primary-color: red;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1280px;
    padding: 10px;
}
